body {
    height: 100vh;
    overflow: hidden;
}

.ppl-peopleleta {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

.ppl-carousel {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
}

.ppl-carousel:hover {
    cursor: pointer;
}
